[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chirpstack-api = "*"
grpcio = "*"
grpcio-tools = "*"
redis = "*"
async-timeout = "*"

[dev-packages]

[requires]
python_version = "3"
